APP_NAME=cetus
APP_ENV=dev
APP_DATA_ROOT=/usr/cetus
APP_PUBLIC_RES_URL=http://example.com/static

LOG_CONSOLE_OUT=true
LOG_FILE_OUT=false
LOG_FILE_PATH=/Users/jack/log/cetus.log
LOG_LEVEL=debug
LOG_FORMAT=json

JWT_EXPIRES_IN=72 # hours
JWT_REDIS_PREFIX=auth
JWT_CERT_PATH=storage/jwt.crt
JWT_KEY_PATH=storage/jwt.key
JWT_ISSUE=example.com

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=test
DB_USERNAME=root
DB_PASSWORD=password
DB_MIGRATE_SELF_ONLY=false # 运行合并的时候是否生成其他库的表信息

OPTIMUS_PRIME=11
OPTIMUS_INVERSE=22
OPTIMUS_RANDOM=33

NATS_HOST=127.0.0.1
NATS_USERNAME=root
NATS_PASSWORD=password

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=password

SERVER_HTTP_PORT=80
SERVER_GRPC_PORT=50051